html {
    box-sizing:content-box;
}

.map-box {
    z-index: 1; 
    font-size: 20px; 
    margin-right: 59px;
    height: 50px; 
    width: 50px;
    position: absolute;
    background-color:rgba(127, 255, 212, 0.161);
    transition: 0.5s ease;
    border: 2px green solid;
}

.map-box:hover {
    /* animation: ease-in-out 2s; */
    background-color:rgba(127, 255, 212, 0.492)
}