body {
  /* max-width: 800px; */
  padding: 0rem;
  margin: 0rem auto;
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

#map {
  height: 600px;
}

h1 {
font-size: 4em;
color:#c45454;
text-align: center;
}

a {
  text-decoration: none;
}


.responsive-diamond {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  /* border: 2px black solid; */
  flex: 1;
  margin: -80px;
  text-decoration: none;
  /* padding: -40px; */

  /* animation: rotateShape 5s ease-in-out infinite; */
  /* transform: scaleY(0.5)  rotate(45deg); */
  /* margin: -70px; */
  /* padding: 20px; */
  /* position: absolute; */
  /* transform: scaleY(0.5) rotate(45deg); */
}

.responsive-diamond:hover {
  /* background-color: green; */
  /* flex: 1.5; */
  /* transform: scaleY(2); */
  transition: all 0.5s ease-in-out;
  /* background-image: url("../unam/assets/tiles/testImage2.png"); */
  /* margin: 100px; */
}

/* .responsive-diamond:nth-child(2) {
  top: 120px;
}

.responsive-diamond:nth-child(3) {
  top: 80px;
}

.responsive-diamond:nth-child(4) {
  top: 40px;
} */

.responsive-diamond-stack {
  display: flex;
  height: 100%;
  padding-top: 75px;
  /* padding-top: 20%;
  padding-bottom: 20%; */
  margin-top: auto;
  margin-bottom: auto;
  /* padding-bottom: 50px; */
  /* gap: 20px; */

  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
  /* transition: all 0.5s ease; */
  gap: 0px;
  /* text-decoration: none; */
}

.responsive-diamond-stack:hover .responsive-diamond {
  transition: all 0.5s ease;
}

@keyframes rotateShape {
  0% {
    transform: rotate(0deg) scale(1)
  }
  50% {
    transform: rotate(180deg) scale(2)
  }
  100% {
    transform: rotate(360deg) scale(1)
  }
}

.rect {
  padding-top: auto;
  padding-bottom: auto;
  width: 200px;
  height: 200px;
  /* background-color: purple; */
  border: 2px black solid;
  transform: scaleY(0.5) rotate(45deg);
  transition: all 0.4s ease-in-out;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: black;
  /* text-decoration: underline; */
  font-weight: bold;
  font-size: 20px;

  animation: dateFade 0.5s ease-in-out;

}

.rect:hover {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.rect:hover::before {
  animation: dateFade 0.5s ease-in-out;
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
  content: "YEAR"
}

.rect::after {
  content: ""
}

@keyframes dateFade{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.responsive-diamond:has(.rect:hover) {
  /* background-color: red; */
  flex: 2.3;
  /* border: 2px red solid; */
}